@import 'normalize';

// Vars

$font-stack: 'Poppins', sans-serif;
$body-bg: #1f2840;

$link-color: #0832d2;
$link-color-visited: #8f08d2;

$demolink-color: #fff;
$demolink-visited: #868abf;

$home-link-color: #fff;
$home-link-bg: #445994;
$home-link-bg-hover: #40548c;

$footer-color: #6e7c98;

$animation-duration: .25s;

$form-bg: #2c385a;
$form-color: #fff;
$form-placeholder: #dee1ea;
$form-border: #a0a6b3;
$form-border-hover: #fff;
$form-border-active: #e1e817;
$form-btn-bg: #5867da;
$form-btn-color: #fff;
$form-btn-border: #404ca2;
$form-btn-shadow: #1c203e;
$form-btn-box-shadow: #202c4c;
$form-btn-hover-bg: #687afd;
$form-btn-hover-border: #4a58bd;

// HTML, body and heading...

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: 500;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: $font-stack;
  margin: 0 0 20px 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

// Wrapper, section and content

// The wrapper pushes the footer to the bottom
.wrapper {
  flex: 1 0 auto;
}

.section {
  padding: 40px 0;
}

.content {
  margin: auto;
  max-width: 90%;
  width: 900px;
}

// Header

.section--header {
  background-color: #0ce4ba;
}

.header__title {
  text-shadow: 0 0 10px #6affe2;
  font-weight: 800;
  color: #1c2540;
}

.header__desc {
  text-shadow: 0 0 5px #6affe2;
}

.header__desc a {
  color: $link-color;
  text-decoration: underline $link-color;
}

.header__desc a:visited {
  color: $link-color-visited;
  text-decoration: underline $link-color-visited;
}

// Demo links
.section--demolist a {
  font-size: 1.2rem;
  color: $demolink-color;
}

.section--demolist a:visited {
  color: $demolink-visited;
}

// Home link

.section--home-link {
  padding: 0;
  background-color: $home-link-bg;
  transition: background $animation-duration ease-out;
}

.section--home-link:hover {
  background-color: $home-link-bg-hover;
}

.home-link {
  display: block;
  padding: 12px 12px 12px 0;
  text-decoration: none;
  color: $home-link-color;
  font-size: 1rem;
}

.home-link:visited {
  color: $home-link-color;
}

.home-link img {
  margin-right: 2px;
  width: 1rem;
  height: 1rem;
  top: .125rem;
  position: relative;
  transition: transform $animation-duration ease-out;
}

.section--home-link:hover .home-link img {
  transform: translate3d(-4px, 0, 0);
}

// Footer

.section--footer {
  flex-shrink: 0;
  text-align: center;
}

.footer__logo {
  width: 3rem;
}

.footer__motd {
  color: $footer-color;
}

// Media queries: 991px, 767px and 481px

@media screen and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 481px) {
  html {
    font-size: 14px;
  }

  .content {
    max-width: 90%;
  }
}
